*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    font-family: "Roboto", serif;

}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3rem;
    box-shadow: 0px 0px 20px gray;

}
.hero-img {
    max-width: 182px;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img img{
    width: 100%;
    height: 100%;
}
.hero-img p {
    font-size: 1.7rem;
    font-weight: 400;
    color: #2d2f31;
}
.search-bar{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2d2f31;
    border-radius: 20px;
    overflow: hidden;
    background-color: #F7F9FA;
}
button{
     width:10%;
    border: none;
    background: transparent;
    color:rgba(0, 0, 0, 0.253);
    font-size: 2rem;
}
.search-bar input{
    border: none;
    width: 90%;
    height: 100%;
    background-color: transparent;
}
input:focus {
    border: none;
    outline: none;
}
nav .list{
    list-style: none;
    display: flex;
    gap: 2rem;
}
 li a {
    text-decoration: none;
    font-size: 1.5rem;
    color:#2d2f31;
 }
 li a:hover{
    color: blueviolet;
    transition: transform 0.3s ease; 
 }
 .container-box{
    display: flex;
    font-size: 1.4rem;
    gap: 2rem;
    align-items: center;
 }
 
 .icon-container p ,#icon{
    padding:  0.5rem ;
    border: 1px solid #2d2f31;
 }
 .icon-container,.icon-container1{
    display: flex;
    align-items: center;
    gap: 2rem;
 }
.icon-container1 p {
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
}
main{
    display: flex;
    width: 100%;
    height: 60vh;
    background-image: url(./img/main.webp);
    align-items: center;

}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30vh;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    padding: 2rem;
    margin-left: 3rem;
} 
.main-container h2{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
} 
.main-container p{
    font-size: 1.7rem;
}
.skills h3{
    font-weight: 500;
    margin: 2rem 2rem 1rem 2rem;
    font-size: 3.5rem;
} 
.skills p{
    color: #2d2f31;
    font-size: 2rem;
    margin:2rem 1.5rem;
}
.certifications ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.certifications{
    margin: 2rem 0px 0px 1.5rem;
    border-bottom: 1px solid #6A6F73;
}
.certifications ul li{
    font-size: 1.8rem;
    color: #6A6F73;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
    padding: 1rem;
}
.certifications  ul li:hover{
    color: black;
}
.course-info{
    width: 100vw;
    display: flex;
    padding: 2rem;
    height: 30vh;
    background-color: #F7F9FA;
    gap: 3rem;
    align-items: center;
}
.course{ 
    width: 100%;
    height: auto;
    background-color: #E4E8EB;
    text-align: center;
    padding: 2rem 1.5rem;
    border-radius: 10%;
}
.course h4{
    font-size: 1.5rem;
    font-weight: 500;
}
.course p{
    font-size: 1.2rem;
    color:#6A6F73;
}
.course-info .course-1{
    background-color: black;
    color: white;
}
.course-1 p{
    color: white;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-left: 1rem;
    gap: 3rem;
}
.card{
    width: 300px;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px gray;
}
.card img{
    width: 100%;
    height: auto;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.card-body h4{
    text-transform: capitalize;
    font-size: 1.5rem;
    line-height: 1.5em;
    
}
.card-body p{
    font-size: 1.2rem;
    line-height: 1.5em;
    text-transform: capitalize;
}
.rating{
    padding: 1rem;
}
.rating span{
   color:#4D4B35; 
}
.rating h5{
    padding: 1rem;
    font-size: 1.2rem;
    color: #021318;
}
.rating p{
    padding: 1rem;
    color:#B4690E;
    font-size: 1.5rem;
}
.rating button{
    width: 100px;
    padding: 1rem;
    height: auto;
    background-color: #ECEB98;
    color: #223509;
    font-size: 1.2rem;
}
.organization-container h4{
   font-size: 2.2rem;
   padding: 1rem 1.5rem;
   font-weight: 600;
}
.organization-container p{
    color: #2d2f31;
    font-size: 1.8rem;
    padding:  1rem 1.5rem;
}
.plan{
    margin: 2rem 1.5rem;
    width: 100%;
    height: auto;
    border-radius: 2%;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
.plans .blue{
    border-top: 5px solid #5022C3;
}
.plans{
    width: 30%;
    height: auto;
    border: 1px solid #B0B4B6;
    box-shadow: 0px 0px 20px gray;
}
.plan-container{
    border-top: 5px solid #A435F0;
    background-color: #F7F9FA;
    padding: 2rem;
}
.plan-container h3{
    font-size: 2rem;
    text-transform: capitalize;
}
.plan-container p{
    font-size: 1.2rem;
}
.plan-container i{
    padding: 1.2em;
    color: #B0B4B6;
    font-size: 1.2rem;
}
.plan-container span{
    font-size: 1.5rem;
}
.month{
    padding: 2rem 1.5rem;
}
.month h4{
    font-size: 1rem 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 1.5rem;
    font-size: 1.5rem;
}
.month p{
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    color:#2d2f31;
}
.month button{
    width:100%;
    height: 40px;
    color: white;
    background-color: #021318;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
}
nav ul{
    list-style: none;
    padding-left: 1.5rem;
    font-size: 1.5rem;
}
nav .check-list .list-item{
    margin-bottom: 2rem;
}
 .check-list .list-item::before{
    content: '\2713';
    color: #8CD1C6;
    margin-right: 1rem;
    font-size: 1rem;
    border: 2px solid #8CD1C6;
    border-radius: 50%;
    font-weight: bold;
}